@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
  vertical-align: middle;
}
.imagehome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagehome img {
  height: 100px;
  /* width: max-content; */
  background-position: center;
  object-fit: contain;
}
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  /* background:; */
  margin-right: 0.2rem;
}

*::-webkit-scrollbar-thumb {
  background: #F3F0E0;
  border-radius: 50px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


